/* COMMON */
.row::after {
  content: '';
  display: table;
  clear: both;
}

.container.grey {
  background-color: #f9f9f9;
}

img {
  max-height: 200px;
}

.row > *,
.row > * > * {
  min-width: 10vw;
  max-width: calc(100vw - 20px);
  margin: 3vw auto;
}

.clear {
  clear: both;
}

/* ROW */

.row {
  max-width: 992px;
  margin: 0 auto;
  padding: 10vw;
}

/* BLOCCHI */

#why .row img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px;
}

#lezioni,
#steps,
#why {
  text-align: center;
}

/* mediaquery */

@media screen and (min-width: 769px) and (max-width: 1200px) {

  #lezioni,
  #why {
    background-color: rgb(242 242 205);
  }

  #steps {
    background-color: white;
  }

  #why .row img {
    padding: 20px;
  }
}

@media screen and (max-width: 768px) {

  img {
    width: 50%;
    height: auto;
  }

  #why .row img {
    padding: 5vw;
  }

  h1 {
    font-size: 4vw;
  }
  h3 {
    font-size: 2.5vw;
  }
  body {
    font-size: 2vw;
  }
}
