/* COMMON */
.row::after {
  content: '';
  display: table;
  clear: both;
}

.container.grey {
  background-color: #f9f9f9;
}

img {
  height: 200px;
}

.row > *,
.row > * > * {
  margin: 10px auto;
}

.clear {
  clear: both;
}

/* ROW */

.row {
  max-width: 992px;
  margin: 0 auto;
  padding: 30px;
}

/* BLOCCHI */

#lezioni .row img {
  /* per centrare orizzontalmente */
  display: block;
  margin: 0 auto;
}

#why .row img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

#lezioni,
#steps,
#why {
  text-align: center;
}

/* mediaquery */

@media screen and (min-width: 769px) and (max-width: 1200px) {

  #lezioni,
  #why {
    background-color: rgb(242 242 205);
  }

  #steps {
    background-color: white;
  }
}
