/* nb: ho eliminato le classi che non uso come left e right */

/* COMMON */
.row::after {
  content: '';
  display: table;
  clear: both;
}

.container.grey {
  background-color: #f9f9f9;
}

img {
  height: 200px;
}

.row > *,
.row > * > *:not(hr) {
  margin: 10px auto;
  padding: 10px;
}

hr {
  margin: 10px auto;
}

.clear {
  clear: both;
}

/* ROW */

.row {
  max-width: 992px;
  margin: 0 auto;
}

/* BLOCCHI */

#why .row img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px;
}

#lezioni,
#steps,
#why {
  text-align: center;
}

/* mediaquery */

@media screen and (min-width: 769px) and (max-width: 1200px) {

  #lezioni,
  #why {
    background-color: rgb(242 242 205);
  }

  #steps {
    background-color: white;
  }

  #why .row img {
    padding: 20px;
  }
}

@media screen and (max-width: 768px) {

  .row > *,
  .row > * > *:not(hr) {
    margin: 1vw auto;
    padding: 1vw;
  }

  hr {
    margin: 1vw auto;
  }

  img {
    width: 30%;
    height: auto;
  }

  #why .row img {
    padding: 5vw;
  }

  h1 {
    font-size: 4vw;
  }
  h3 {
    font-size: 2.5vw;
  }
  body {
    font-size: 2vw;
  }
}
